.productBrand {
    color: white;
    font-size: 1.25rem;
    text-align: left;
}

.nameContainer {
    padding-left: 20px;
}

.buyButton {
    background-color: #59ff00;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
        0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
:global(.vtex-button):hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0);
}

.buyButtonText {
    font-weight: 500;
    line-height: 1.75;
    color: black;
}
