.summaryItemLabel {
    color: white;
}

:global(.vtex-checkout-summary-0-x-summaryItemLabel) {
    color: white;
}
:global(.vtex-checkout-summary-0-x-price) {
    color: green;
}

.price {
    background-color: blanchedalmond;
}


