.sellingPrice {
    color: #59ff00;
    padding-left: 20px;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.5;
    font-weight: bold;
}

:global(.vtex-product-price-1-x-sellingPriceValue) {
    font-size: 1.5rem;
}