.galleryItem :global(.vtex-product-summary-2-x-container){
    background-color: #424242;
    width: 350px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}